.headercomponent {
    display: grid;
    grid-template-columns: 4% minmax(95px,5%) minmax(110px,8%) 3% minmax(300px,55.5%) minmax(110px,10%) minmax(80px,6%) 5%;
    grid-template-rows: auto;
    gap: 0.5%;
    width: 100%;
}

.bi-layout-text-sidebar {
    font-size: 175%;
    align-self: center;
    justify-self: center;
}

.logo {
    width: 80%;
    cursor: pointer;
    align-self: center;
    justify-self: center;
}

.address {
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto;
    gap: 2%;
    align-items: center;
    justify-content: center;
}

    .address > i {
        grid-row: 1/-1;
        grid-column: 1;
    }

    .address > .text-line-one {
        grid-row: 1;
        grid-column: 2/-1;
    }

    .address > .text-line-two {
        grid-row: 2;
        grid-column: 2/-1;
    }

.text-line-one {
    color: gray;
    font-size: 80%;
    font-weight: 600;
    white-space: nowrap;
}

.text-line-two {
    font-size: 85%;
    font-weight: 700;
    white-space: nowrap;
}

.theme-selector {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

    .theme-selector > i {
        background-color: #7380ec;
        border-radius: 10%;
        font-size: 120%;
        padding-left: 13%;
        padding-right: 13%;
        padding-top: 7%;
        padding-bottom: 7%;
    }

.search {
    display: flex;
}

    .search > select {
        border: none;
        background-color: gray;
        border-top-left-radius: 8%;
        border-bottom-left-radius: 8%;
    }

    .search > input {
        width: 100%;
        border: none;
    }

    .search-button {
        background-color: purple;
        border: none;
        width: 5%;
        min-width: 64px;
        border-top-right-radius: 8%;
        border-bottom-right-radius: 8%;
    }

.sign-in, .return-orders {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto auto;
}

    .sign-in > .text-line-one, .return-orders > .text-line-one {
        grid-row: 1;
        align-self:center;
        justify-self:center;
    }

    .sign-in > .text-line-two, .return-orders > .text-line-two {
        grid-row: 2;
        align-self: center;
        justify-self: center;
    }

.cart {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    align-items: center;
    font-size: 185%;
}

.bi-cart {
    grid-row: 1;
    grid-column: 1;
    justify-self: center;
}

.cart-items-counter {
    grid-row: 1;
    grid-column: 1;
    color: gold;
    justify-self: center;
    font-size: 40%;
    font-weight: 800;
}

@media (max-width: 877px) {
    .headercomponent {
        grid-template-columns: 5% minmax(110px,20%) minmax(95px,20%) 10% 20% 20% 5%;
        grid-template-rows: 50% 50%;
    }

    .search {
        grid-row: 2;
        grid-column: 1/-1;
        margin: 0.5%;
    }

    .logo {
        width: 60%;
    }
}


@media (max-width: 575px) {
    .headercomponent {
        grid-template-columns: 10% 25% 10% 27% 19% 9%;
        gap: 0px;
    }

    .bi-layout-text-sidebar {
        font-size: 160%;
    }

    .logo {
        display: none;
    }

    .address > i {
        display: none;
    }

    .theme-selector > i {
        font-size: 100%;
        padding-left: 10%;
        padding-right: 10%;
        padding-top: 6%;
        padding-bottom: 6%;
    }

    .search {
        margin: 0.9%;
    }

    .text-line-one {
        font-size: 70%;
    }

    .text-line-two {
        font-size: 75%;
    }
}
