<div class="headercomponent">
    <i class="bi bi-layout-text-sidebar"></i>
    <img class="logo"
         src="http://pngimg.com/uploads/amazon/amazon_PNG11.png" />

    <div class="address">
        <i class="bi bi-geo-alt"></i>
        <span class="text-line-one">Enviar a Chile</span>
        <span class="text-line-two">Calle 123456</span>
    </div>

    <div class="theme-selector">
        <i class="bi bi-brightness-high active"></i>
    </div>

    <div class="search">
        <select class="select-search">
            <option selected="selected" value="Todos">Todos</option>
            <option value="Perfumes">Perfumes</option>
        </select>
        <input class="input-search" placeholder="<--seleccione una categoria" />
        <button class="search-button">
            <i class="bi bi-search"></i>
        </button>
    </div>

    <div class="sign-in">
        <span class="text-line-one">Hola Bienvenido</span>
        <span class="text-line-two">Inicia Sesion <i class="bi bi-caret-down-fill"></i></span>
    </div>

    <div class="return-orders">
        <span class="text-line-one">Retornos</span>
        <span class="text-line-two">& Pedidos</span>
    </div>

    <div class="cart">
        <i class="bi bi-cart"></i>
        <span class="cart-items-counter">0</span>
    </div>

</div>



@code {

}
