@inherits LayoutComponentBase

<div class="mainlayout">
    <div class="header">
        <HeaderComponent></HeaderComponent>
    </div>
    <div class="sidebar">
        SIDEBAR
     </div>
    <div class="pages">
        @Body
    </div>
    <div class="footer">
        FOOTER
    </div>
</div>