@inherits LayoutComponentBase
@inject IJSRuntime js

<div class="mainlayout">
    <div class="header @ThemeStyleName">
        <HeaderComponent NotifyThemeStyle="SetThemeStyle" NotifySidebarIconClicked="SetSidebarStatus" />
    </div>
    @if (IsSidebarOpen)
    {
        <div class="sidebar @ThemeStyleName">
            SIDEBAR
         </div>
    }

    <div class="@PagesStyleName @ThemeStyleName">
        @Body
    </div>

    <div class="footer @ThemeStyleName">
        FOOTER
     </div>
</div>

@*DarkModeCode-Start*@
@code {
    private string ThemeStyleName = string.Empty;

    private void SetThemeStyle(bool IsLightModeActive)
    {
        if (IsLightModeActive == false)
        { ThemeStyleName = string.Empty; }
        else { ThemeStyleName = "light-mode"; }
    }
}
@*DarkModeCode-End*@


@code{
    private bool IsSidebarOpen = true;
    private string PagesStyleName = "pages-opened_sidebar";
    private void SetSidebarStatus()
    {
        if (IsSidebarOpen)
        {
            IsSidebarOpen = !IsSidebarOpen;
            PagesStyleName = "pages-closed_sidebar";
        }
        else
        {
            IsSidebarOpen = !IsSidebarOpen;
            PagesStyleName = "pages-opened_sidebar";
        }
    }

    protected override async Task OnInitializedAsync()
    {
        int width = await js.InvokeAsync<int>("width");
        if(width <= 575)
        {
            IsSidebarOpen = false;
        }
    }
}