.mainlayout {
    display: grid;
    grid-template-columns: minmax(170px,15%) minmax(auto,85%);
    grid-template-rows: minmax(50px,4%) auto 20%;
    min-height: 100vh;
}

.header {
    grid-row: 1;
    grid-column: 1/-1;
    background-color: var(--color-background-header);
    display: flex;
    align-items: center;
}

.sidebar {
    grid-row: 2;
    grid-column: 1/2;
    background-color: var(--color-background-sidebar);
}

.pages-opened_sidebar {
    grid-row: 2;
    grid-column: 2/-1;
    background-color: var(--color-background-pages);
    padding-left: 1.0%;
    padding-right: 1.0%;
}

.pages-closed_sidebar {
    grid-row: 2;
    grid-column: 1/-1;
    background-color: var(--color-background-pages);
    padding-left: 1.0%;
    padding-right: 1.0%;
}

.footer {
    grid-row: 3;
    grid-column: 1/-1;
    background-color: var(--color-background-footer);
}


@media (max-width: 877px) {
    .mainlayout {
        grid-template-rows: minmax(85px,6%) auto 20%;
    }

    .header {
        align-items: stretch;
    }
}

@media (max-width: 575px) {
    .pages-opened_sidebar, .pages-closed_sidebar {
        grid-column: 1/-1;
    }

    .sidebar {
        z-index: 1;
    }
}