.mainlayout {
    display: grid;
    grid-template-columns: 15% 85%;
    grid-template-rows: minmax(50px,4%) auto 20%;
    min-height: 100vh;
    color: white;
}

.header {
    grid-row: 1;
    grid-column: 1/-1;
    background-color: var(--color-background-header);
    display: flex;
    align-items: center;
}

.sidebar {
    grid-row: 2;
    grid-column: 1/2;
    background-color: var(--color-background-sidebar);
}

.pages {
    grid-row: 2;
    grid-column: 2/-1;
    background-color: var(--color-background-pages);
}

.footer {
    grid-row: 3;
    grid-column: 1/-1;
    background-color: var(--color-background-footer);
}


@media (max-width: 877px) {
    .mainlayout {
        grid-template-rows: minmax(85px,6%) auto 20%;
    }

    .header {
        align-items: stretch;
    }
}